{% extends 'main.html' %}

{% block content %}
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Enter new password</h3>
        <br>
      <p>
       Please enter your new password twice so we can verify you typed it in correctly.
      </p>

      <br />

      <form class="form" method="POST" novalidate>
      {% csrf_token %}
       

       {% for field in form  %}
          <div class="form__field">
          {{field.label_tag}}
         {{field}} <small style="color:red">{{field.errors|striptags}}</small>
        
        </div>
       {% endfor %}
        
        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />

          {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
      <p style="color:red">{{error}}</p>
      {% endfor %}
       {% endif %}
      </form>
    </div>
  </div>
</main>

<script>
const pass1=document.querySelector('#id_new_password1');
const pass2=document.querySelector('#id_new_password2');
pass1.classList.add('input');
pass2.classList.add('input');

</script>




{% endblock content %}