{% extends 'main.html' %} {% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password reset</h3>

      <p>
        Forgotten your password? Enter your email address below, and we’ll email
        instructions for setting a new one.
      </p>

      <br />

      <form class="form" method="POST">
      {% csrf_token %}
       

       {{form.as_p}}
        
        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</main>

<script>
    const input=document.querySelector('#id_email');
    console.log(input);
    input.classList.add('input');
</script>

{% endblock content %}
